<div>
    <h1>Sign In</h1>

    <% if flash[:notice] %>
        <p class="alert-notification alert"> <%= flash[:notice] %></p>
    <% end %>

    <%= form_with url: sign_in_path, local: true, html: {class: "registration-sign-up-form"} do |form| %>
        <div>
            <%= form.label :email %>
            <%= form.text_field :email %>
        </div>
        <div>
            <%= form.label :password %>
            <%= form.password_field :password %>
        </div>
        <%= form.submit "Sign In" %>
    <% end %>

</div>