<h1>Registration</h1>

<%= form_with model: @user, url: sign_up_url, data: { turbo: false }, html: {class: "registration-sign-up-form"} do |form| %>
    <% if @user.errors.any? %>
        <p><%= @user.errors.full_messages %></p>
    <% end %>
    <p>Sign up form</p>
    <div>
        <%= form.label :email %>
        <%= form.text_field :email %>
    </div>
    <div>
        <%= form.label :password %>
        <%= form.password_field :password %>
    </div>
    <div>
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation %>
    </div>
    <%= form.submit %>
<% end %>